/*DESKTOP STYLE*/

/*common style*/

/*index style*/
@media (min-width: 768px) {

    @media screen and (max-width: 1105px) {
        .header_nav ul {
            overflow-y: hidden;
        }
    }

    header {
        display: flex !important;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 20;
        background-color: white;
        /*background: red;*/
    }

    .header_log {
        height: 80px;
        flex-basis: 30%;
        background: url("../img/logo.png") no-repeat center center;
        background-size: 180px 60px;
    }

    .header_nav {
        flex-basis: 70%;
        display: flex;
        /*align-self:flex-end;*/
        /*height: 80px;*/
        justify-content: flex-end;
    }

    .header_nav ul {
        list-style: none;
        display: inline-block;
        float: left;
        height: 80px;
        margin-bottom: 0;
        margin-right: 9%;
        /*margin-right: 50px;*/
    }

    .header_nav ul > li {
        font-weight: bolder;
        align-content: center;
        padding-left: 70px;
        font-size: 1.5em;
        /*vertical-align: center;*/
        float: left;
        line-height: 80px;
    }

    .swiper-container {
        width: 100%;
        height: 560px;
        margin-top: 80px;
    }

    .slide1 {
        background: url("../img/swiper1.jpg") no-repeat center 100%;
        background-size: cover;
    }

    .slide2 {
        background: url("../img/swiper2.jpg") no-repeat center 100%;
    }

    .swiper-slide-hover {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 560px;
    }

    .rectangle-left {
        /*border: 2px solid yellow;*/
        width: 100%;
        /*background: #000;*/
        height: 160px;
        padding-top: 100px;
        background: url("../img/Rectangle-l.png") no-repeat 15% 100px;
        background-size: 60px 60px;
    }

    .rectangle-right {
        width: 100%;
        /*background: #000;*/
        height: 60px;
        margin-top: -50px;
        background: url("../img/Rectangle-r.png") no-repeat 60% 0;
        background-size: 60px 60px;
    }

    .slide-title {
        font-family: "Source Sans Pro";
        font-size: 3.5em;
        color: white;
        font-weight: bolder;
        padding-left: 18%;
        letter-spacing: 5px;
        width: 60%;
    }

    /*有李开复头像层*/
    .index-content01 {
        display: flex;
        height: 450px;
        background: url("../img/sinnovation-bg.png") no-repeat 0 0;
        background-size: auto 100%;
    }

    .index-content01-left {
        flex-basis: 60%;
        padding-left: 12%;
    }

    .index-content01-left > .t01 {
        padding-top: 75px;
        font-size: 1.6em;
        letter-spacing: 5px;
        font-weight: 500;
    }

    .index-content01-left > .t02 {
        padding-top: 10px;
        font-size: 3.5em;
        letter-spacing: 5px;
        font-weight: bolder;
        color: black;
    }

    .index-content01-left > .t03 {
        margin-top: 1px;
        background-color: #ff7e00;
        height: 6px;
        width: 32%;
    }

    .index-content01-left > .t04 {
        height: 6px;
        margin-top: 31px;
        font-size: 1em;
        letter-spacing: 1px;
        font-weight: 300;
    }

    .access_more {
        width: 180px;
        height: 50px;
        margin-top: 50px;
        border: 2px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-radius: 50px;
        line-height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.6em;
        letter-spacing: 6px;
        font-weight: 500;
        text-align: center;
    }

    .index-content01-right {
        flex-basis: 40%;
        background: url("../img/lkf.png") no-repeat 40% 20px;
        background-size: auto 96%;
    }


    /*投资成绩*/
    .index-content02{
        display: flex;
        border: 2px solid #ff3f3e;
        height: 450px;
        background: url("../img/index-content02-bg.jpg") no-repeat center center;
        background-size: cover;
    }

    .index-content02 > .wrapper{
        display: flex;
        height: 450px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }
}


