/*DESKTOP STYLE*/

/*common style*/

/*index style*/
@media (min-width: 768px) {

    @media screen and (max-width: 1105px) {
        .header_nav ul {
            overflow-y: hidden;
        }
    }

    header {
        display: flex !important;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        z-index: 20;
        background-color: white;
        /*background: red;*/
    }

    .header_logo {
        height: 80px;
        flex-basis: 30%;
        background: url("../img/logo.png") no-repeat center center;
        background-size: 180px 60px;
        cursor: pointer;
    }

    .header_nav {
        flex-basis: 70%;
        display: flex;
        /*align-self:flex-end;*/
        /*height: 80px;*/
        justify-content: flex-end;
    }

    .header_nav ul {
        list-style: none;
        display: inline-block;
        float: left;
        height: 80px;
        margin-bottom: 0;
        margin-right: 9%;
        /*margin-right: 50px;*/
    }

    .header_nav ul > li {
        font-weight: bolder;
        align-content: center;
        padding-left: 70px;
        font-size: 1.5em;
        /*vertical-align: center;*/
        float: left;
        line-height: 80px;
    }

    .swiper-container {
        width: 100%;
        height: 560px;
        margin-top: 80px;
    }

    .slide1 {
        background: url("../img/swiper1.jpg") no-repeat center 100%;
        background-size: cover;
    }

    .slide2 {
        background: url("../img/swiper2.jpg") no-repeat center 100%;
    }

    .swiper-slide-hover {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 560px;
    }

    .rectangle-left {
        /*border: 2px solid yellow;*/
        width: 100%;
        /*background: #000;*/
        height: 160px;
        padding-top: 100px;
        background: url("../img/Rectangle-l.png") no-repeat 15% 100px;
        background-size: 60px 60px;
    }

    .rectangle-right {
        width: 100%;
        /*background: #000;*/
        height: 60px;
        margin-top: -50px;
        background: url("../img/Rectangle-r.png") no-repeat 60% 0;
        background-size: 60px 60px;
    }

    .slide-title {
        font-family: "Source Sans Pro";
        font-size: 5em;
        color: white;
        font-weight: bolder;
        padding-left: 18%;
        letter-spacing: 5px;
        width: 60%;
    }

    /*有李开复头像层*/
    .index-content01 {
        display: flex;
        height: 550px;
        background: url("../img/sinnovation-bg.png") no-repeat 0 0;
        background-size: auto 100%;
    }

    .index-content01-left {
        flex-basis: 60%;
        padding-left: 12%;
    }

    .index-content01-left > .t01-l1 {
        padding-top: 75px;
        letter-spacing: 5px;
        font-weight: 500;
    }

    .index-content01-left > .t01-l2 {
        padding-top: 10px;
        /*font-size: 3.5em;*/
        letter-spacing: 5px;
        font-weight: bolder;
        color: black;
    }

    .index-content01-left > .t01-l3 {
        margin-top: 1px;
        height: 6px;
        width: 32%;
    }

    .index-content01-left > .t01-l4 {
        height: 6px;
        margin-top: 31px;
        font-size: 1.5em;
        letter-spacing: 1px;
        font-weight: 300;
    }

    .access_more {
        width: 250px;
        height: 66px;
        margin-top: 50px;
        border: 1px solid black;
        border-radius: 50px;
        line-height: 66px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 2rem;
        letter-spacing: 6px;
        font-weight: 500;
        text-align: center;
    }

    .index-content01-right {
        flex-basis: 40%;
        background: url("../img/lkf.png") no-repeat 40% 20px;
        background-size: auto 97%;
    }

    /*投资成绩*/
    .index-content02 {
        display: flex;
        /*border: 2px solid #ff3f3e;*/
        height: 550px;
        background: url("../img/index-content02-bg.jpg") no-repeat center center;
        background-size: cover;
    }

    .index-content02 > .cover {
        display: flex;
        height: 550px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.65);
    }

    .index-content02-left {
        flex-basis: 55%;
        display: flex;
        padding-left: 8%;
    }

    .t02-l1 {
        border: 1px solid #ff7e00;
        width: 33%;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 155px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        height: 235px;
    }

    .t02-l1 > :first-child {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 5px;
    }

    .t02-l1 > :nth-child(2) {
        padding-left: 20px;
        margin-top: -20px;
        font-size: 2rem;
    }

    .t02-l1 > :nth-child(2) > span {
        font-size: 15rem;
        font-weight: 300;
    }

    .index-content02-right {
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }

    .index-content02-right > .t02-r1 {
        margin-top: 80px;
        letter-spacing: 10px;
    }

    .index-content02-right > .t02-r2 {
        width: 60%;
        height: 8px;
        margin: 30px 0 35px 0;
    }

    .index-content02-right > .t02-r3 {
        /*font-size: 1.8rem;*/
        font-weight: 300;
        line-height: 40px;
    }

    /*投后介绍*/
    .index-content03 {
        height: 550px;
        display: flex;
        background: url("../img/index-content03-bg.png") no-repeat 0 0;
        background-size: auto 100%;

    }

    .index-content03-left {
        flex-basis: 55%;
        padding-left: 8%;
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .index-content03-left > .t03-l2 {
        line-height: 110px;
        letter-spacing: 5px;
    }

    .index-content03-left > .t03-l3 {
        letter-spacing: 4px;
    }

    .index-content03-left > .t03-l4 {
        background: url("../img/index-content03-01.png") no-repeat 0 0;
        background-size: auto 52%;
        height: 200px;
        margin-top: 30px;

    }

    .index-content03-right {
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        padding-top: 320px;
    }

    /*人工智能工程院*/
    .index-content04 {
        display: flex;
        flex-direction: row;
        height: 450px;
        background: url("../img/index-content04-bg.png") no-repeat 100% 100%;
        background-size: auto 100%;

    }

    .index-content04-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 20%;
        padding-left: 12%;
    }

    .index-content04-middle {
        flex-basis: 55%;
        padding-right: 5%;
        text-align: right;
    }

    .index-content04-middle > .t04-l1 {
        margin-top: 100px;
        letter-spacing: 5px;
    }

    .index-content04-middle > .t04-l2 {
        line-height: 80px;
        letter-spacing: 5px;
    }

    .index-content04-middle > .t04-l3 {
        line-height: 80px;
        font-weight: 100;
    }

    .index-content04-right {
        flex-basis: 25%;
        background: url("../img/index-content04-logo.png") no-repeat left center;
        background-size: auto 60%;
    }

    /*创业者说*/
    .index-content05 {
        display: flex;
        flex-direction: column;
        height: 680px;
    }

    .index-content05 > .t05-top {
        display: flex;
        flex-direction: row;
        height: 170px;
    }

    .index-content05 > .t05-top > .left {
        flex-basis: 70%;
        display: flex;
        flex-direction: column;
        padding-left: 12%;
        padding-bottom: 20px;
        padding-top: 50px;
        letter-spacing: 5px;
    }

    .index-content05 > .t05-top > .right {
        flex-basis: 30%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 20px;
        padding-right: 12%;
    }

    .page-prev {
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        background: url("../img/arrow-left-active.jpg") no-repeat left center;
        background-size: auto 100%;
        cursor: pointer;
    }

    .page-next {
        height: 40px;
        width: 40px;
        line-height: 40px;
        margin-left: 10%;
        text-align: center;
        background: url("../img/arrow-right-active.jpg") no-repeat left center;
        background-size: auto 100%;
        cursor: pointer;
    }

    @media screen and (min-width: 1920px) {

        .index-content05 > .t05-bottom {
            height: 450px;
            display: flex;
            margin-top: 0 !important;
        }

        .t05-item {
            background: url("../img/t05-item.png") no-repeat 70% 100%;
            background-size: auto 90%;
            width: 33.333% !important;
            height: 450px;
            padding-left: 60px;
        }

        .t05-item > .item-slogan {
            width: 45%;
            margin-top: 140px;
            letter-spacing: 3px;
        }

        .t05-item > .item-ceo {
            line-height: 70px;
        }

        .t05-item > .item-logo {
            background: url("../img/logo1.png") no-repeat;
            background-size: auto 100%;
            height: 60px;
        }

    }

    @media screen and (min-width: 1280px) and (max-width: 1919px) {

        .index-content05 > .t05-bottom {
            height: 350px;
            display: flex;
            margin-top: 0 !important;
        }

        .t05-item {
            background: url("../img/t05-item.png") no-repeat 70% 100%;
            background-size: contain;
            width: 33.333% !important;
            height: 350px;
            padding-left: 2%;
        }

        .t05-item > .item-slogan {
            width: 50%;
            margin-top: 65px;
            letter-spacing: 3px;
        }

        .t05-item > .item-ceo {
            line-height: 50px;
        }

        .t05-item > .item-logo {
            background: url("../img/logo1.png") no-repeat;
            background-size: auto 100%;
            height: 50px;
        }

    }
    @media screen and (max-width: 1279px) {

        .index-content05 > .t05-bottom {
            height: 350px;
            display: flex;
            margin-top: 0 !important;
        }

        .t05-item {
            background: url("../img/t05-item.png") no-repeat 70% 100%;
            background-size: 82% auto;
            width: 33.333% !important;
            height: 350px;
            padding-left: 10px;
        }

        .t05-item > .item-slogan {
            width: 50%;
            margin-top: 65px;
            letter-spacing: 3px;
        }

        .t05-item > .item-ceo {
            line-height: 40px;
        }

        .t05-item > .item-logo {
            background: url("../img/logo1.png") no-repeat;
            background-size: auto 100%;
            height: 30px;
        }

    }

    /*最新动态*/
    .index-content06 {
        background-color: rgb(243, 243, 243);
    }

    .t06-top {
        height: 170px;
        display: flex;
    }

    .t06-top > .left {
        padding-left: 10%;
        display: flex;
        flex-basis: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .t06-top > .right {
        padding-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .t06-row {
        display: flex;
        /*justify-content: space-between;*/
        align-items: center;
        margin-bottom: 10px;
    }

    .t06-row > :nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
    }

    .t06-row-reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .t06-row-column-l {
        height: 410px;
        width: 52%;
    }

    .t06-row-column-s {
        height: 410px;
        width: 24%;
    }

    .t06-row-column-l > :first-child {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        letter-spacing: 3px;
    }

    .cover-main-transparent {
        background-color: rgba(255, 126, 0, 0.8);
    }

    .cover-gray-transparent {
        background-color: rgba(11, 11, 11, 0.5);
    }

    .t06-row-column-s > :first-child {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
        letter-spacing: 3px;
        line-height: 35px;
    }

    .main-title {
        line-height: 50px;
    }

    .sec-main-title {
        line-height: 40px;
    }

    .sec-title {
        margin-top: 20px;
        line-height: 30px;
        font-weight: 200;
    }

    .news1 {
        background: url("../img/news-1.jpg") no-repeat center;
        background-size: cover;
    }

    .news2 {
        background: url("../img/news-2.jpg") no-repeat center;
        background-size: cover;
    }

    .news3 {
        background: url("../img/news-3.jpg") no-repeat center;
        background-size: cover;
    }

    .news4 {
        background: url("../img/news-4.jpg") no-repeat center;
        background-size: cover;
    }

    .news5 {
        background: url("../img/news-5.jpg") no-repeat center;
        background-size: cover;
    }

    .news6 {
        background: url("../img/news-6.jpg") no-repeat center;
        background-size: cover;
    }

    /*footer*/
    .index-footer {
        display: flex;
        flex-direction: column;
        background-color: black;
        height: 780px;
        padding-top: 60px;
        letter-spacing: 3px;
        font-size: 1.7rem;
        color: #b5a699;
        line-height: 45px;
    }

    .footer-nav {
        display: flex;
        background-color: black;
        justify-content: space-between;
        height: 480px;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 60px;
        letter-spacing: 3px;
        font-size: 1.7rem;
        color: #b5a699;
        line-height: 45px;
    }

    .footer-column {
        display: flex;
        flex-direction: column;
    }

    .footer-column span, .footer-copyright span {
        color: #ff7e00;
    }

    .footer-nav-main {
        line-height: 60px;
        font-size: 2.1rem;
        color: white;
        /*background: url("../img/triangle.png") no-repeat 100% center;*/
        /*background-size: 16px;*/
    }

    .footer-nav-main img {
        margin-left: 5px;
        width: 8px;
        height: auto;
    }

    .footer-copyright {
        display: flex;
        height: 90px;
        border-top: 1px solid #898989;
        background-color: #181818;
        justify-content: flex-start;
        align-items: center;
        padding-left: 15%;
        letter-spacing: 1px;
        font-size: 1.4rem;
    }

    /*

        投资业务页面

    */
    .invest-header {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 530px;
        padding-top: 80px;
    }

    .invest-header-a {
        background: url("../img/invest-biz/hd1.png") no-repeat center;
        background-size: cover;
    }

    .invest-header-b {
        background: url("../img/invest-biz/hd2.png") no-repeat center;
        background-size: cover;
    }

    .invest-header > :first-child {
        letter-spacing: 8px;
    }

    .invest-header > :nth-child(2) {
        letter-spacing: 5px;
        line-height: 60px;
        font-weight: bolder;
    }

    .invest-header > .line-group {
        background: url("../img/invest-biz/ling-group.png") no-repeat center;
        background-size: contain;
        height: 80px;
    }

    .invest-toggle-container {
        position: relative;
        width: 100%;
        text-align: center;
        background: transparent;
        margin-top: -50px;
    }

    .invest-toggle {
        background-color: white;
        width: 46%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 27%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        -moz-box-shadow: 100px 100px 50px 20px #bfbfbf; /* 老的 Firefox */
        box-shadow: 0 1px 5px 1px #bfbfbf;
    }

    .invest-toggle span {
        font-size: 1.6rem;
        font-weight: bold;
        height: 100px;
        line-height: 100px;
        width: 17%;
        min-width: 72px;
        letter-spacing: 2px;
        overflow: hidden;
        cursor: pointer;
    }

    .invest-toggle > .active {
        border-bottom: 5px solid rgba(250, 124, 0, 0.8);
    }

    .invest-a-t01 {
        margin-top: -50px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: url("../img/invest-biz/bg.png") no-repeat center;
        background-size: cover;
        padding-left: 12%;
        padding-top: 100px;
    }

    .invest-a-t01 > :first-child {
        letter-spacing: 5px;
    }

    .invest-a-t01 > :nth-child(2) {
        letter-spacing: 5px;
        line-height: 100px;
    }

    .invest-a-t01 > :nth-child(n+3) {
        letter-spacing: 5px;
        line-height: 45px;
    }

    .invest-a-t02 {
        display: flex;
        background-color: #252525;
    }

    .invest-a-t02 > div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-basis: 18.75%;
        height: 600px;
    }

    .invest-a-t02 > .intro {
        display: flex;
        flex-basis: 25%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 3%;
        padding-right: 3%;
    }

    .invest-a-t02 :nth-child(4) {
        flex-basis: 25%;
    }

    .invest-item {
        display: flex;
        height: 300px;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 100px;
        letter-spacing: 5px;
        background-size: cover;
        /*align-items: flex-start;*/
        /*padding: 15% auto*/
    }

    .invest-item > :first-child {
        font-size: 3rem;
        font-weight: bolder;
        color: white;
        line-height: 50px;

    }

    .invest-item > :nth-child(2) {
        font-size: 1.6rem;
        font-weight: bolder;
        color: white;
        line-height: 30px;
    }

    .item1 {
        background: url("../img/invest-biz/1.png") no-repeat center;
    }

    .item2 {
        background: url("../img/invest-biz/2.png") no-repeat center;

    }

    .item3 {
        background: url("../img/invest-biz/3.png") no-repeat center;

    }

    .item4 {
        background: url("../img/invest-biz/4.png") no-repeat center;

    }

    .item5 {
        background: url("../img/invest-biz/5.png") no-repeat center;

    }

    .item6 {
        background: url("../img/invest-biz/6.png") no-repeat center;

    }

    .item7 {
        background: url("../img/invest-biz/7.png") no-repeat center;

    }

    /*创新工场投资阶段*/
    .invest-a-t03 {
        display: flex;
        flex-direction: column;
        height: 840px;
        padding-left: 12%;
        padding-right: 12%;
        padding-top: 100px;
        background: url("../img/invest-biz/phase.png") no-repeat bottom center;
        background-size: 95% auto;
        background-clip: padding-box;
    }

    .invest-a-t03 > :nth-child(2) {
        padding-top: 20px;
    }

    .invest-a-t03 > :nth-child(2) > :first-child {
        padding: 5px 5px 20px 0;
        border-bottom: 5px solid #ff7e00;
        font-weight: bolder;
    }

    .invest-a-t03 > :nth-child(3) {
        padding: 50px 5px 10px 5px;
        font-size: 1.6rem;
    }

    /*亿元美金俱乐部*/
    .invest-a-t04 {
        display: flex;
        flex-direction: column;
        background-color: #f7f7f7;
        justify-content: center;
        align-items: center;
        padding-left: 3%;
        padding-right: 3%;
    }

    .invest-a-t04 > .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 80px;
    }

    .invest-a-t04 > .title > span {
        letter-spacing: 10px;
        border-bottom: 5px solid #ff7e00;
        padding-bottom: 30px;
    }

    .invest-a-t04 > .title > :nth-child(2) {
        line-height: 100px;
        letter-spacing: 1px;
    }

    .invest-a-t04 > .apps-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;

        border-left: 1px solid #ff7e00;
        border-top: 1px solid #ff7e00;
    }

    .app {
        width: 25%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*background: url("../img/invest-biz/app1.png") no-repeat center center;*/
        /*background-size: auto 100px;*/
        border-bottom: 1px solid #ff7e00;
        border-right: 1px solid #ff7e00;
        /*border-left: 1px solid #ff7e00;*/
    }

    .app > img {
        height: 100px;
        margin: 100px auto;
    }

    .gray {
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }

    .gotoBtn {
        position: absolute;
        /*top: 2845px;*/
        /*left: 446px;*/
        height: 60px;
        width: 60px;
        background: url("../img/invest-biz/gopic.png") no-repeat center;
        background-size: contain;
    }
}


