/*common style*/
@import url("tinyStyle.css") screen and (max-width: 767px);
/*@import url("mainStyle.css") screen and (max-width: 767px);*/
@import url("mainStyle.css") screen and (min-width: 768px);

/*@media screen and (max-width: 1280px) and (max-height: 720px) {
@media screen and (max-width: 1280px) and (min-width: 768px) {
   html {
      -webkit-transform: scale(.5);
      -moz-transform: scale(.5);
      transform: scale(.5);

      // or simply zoom: 50%
   }
}
*/

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font: normal 100% Microsoft Yahei,Source Sans Pro, Helvetica, Arial, sans-serif !important;
    margin: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0;
}

.modal-open{
    overflow-y: hidden;
}

h1 {
    font-size: 1.5em;
}

small {
    font-size: 0.875em;
}

a {
    text-decoration: none;!important;
    color: #000;!important;
}

.font-color-main {
    color: #ff7e00;
}

.font-color-white {
    color: white;
}

.font-color-black {
    color: black;
}

.bg-color-main {
    background-color: #ff7e00;
}

.border-color-main {
    border: 1px solid #ff7e00;
}

.border-color-white {
    border: 1px solid white;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

.font-size-6rem {
    font-size: 4.8rem;
}

.font-size-3rem {
    font-size: 2.4rem;
}

.font-size-4rem {
    font-size: 5rem;
}

.font-size-1_0_8rem {
    font-size: 1.5rem;
}

.font-size-2rem{
    font-size: 2rem;
}

.width-100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

::selection{
    background-color: #ff7e00;
    color: white;
}

.toggle-container {
    position: relative;
    width: 100%;
    text-align: center;
    background: transparent;
    margin-top: -50px;
}

/*覆盖swiper默认翻页符*/
.pagination-bullet{
    width: 25px;
    border-radius: 0;
    border: 1px solid #ff7e00;
    height: 5px;
    display: inline-block;
    background: transparent;
    margin: 0 8px;
    cursor: pointer;
}

.pagination-bullet-active{
    background-color: #ff7e00;
    width: 50px;
}

.swiper-pagination{
    text-align: left;!important;
    padding-left: 15%;
}

