/*common style*/
@import url("tinyStyle.css") screen and (max-width: 767px);
/*@import url("mainStyle.css") screen and (max-width: 767px);*/
@import url("mainStyle.css") screen and (min-width: 768px);

body {
    font: normal 100% Source Sans Pro, Helvetica, Arial, sans-serif !important;
    margin: 0;
}

h1 {
    font-size: 1.5em;
}

small {
    font-size: 0.875em;
}

a {
    text-decoration: none;
    color: #000;
}

.font-color-main {
    color: #ff7e00;
}

.font-color-white {
    color: white;
}

.font-color-black {
    color: black;
}

.bg-color-main {
    background-color: #ff7e00;
}

.border-color-main {
    border: 1px solid #ff7e00;
}

.border-color-white {
    border: 1px solid white;
}

.tal {
    text-align: left;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

.font-size-6rem {
    font-size: 6rem;
}

.font-size-3rem {
    font-size: 3rem;
}

.font-size-4rem {
    font-size: 5rem;
}

.font-size-1_0_8rem {
    font-size: 1.8rem;
}

.font-size-2rem{
    font-size: 2rem;
}

.width-100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

::selection{
    background-color: #ff7e00;
    color: white;
}

.toggle-container {
    position: relative;
    width: 100%;
    text-align: center;
    background: transparent;
    margin-top: -50px;
}
